<li id="foto-<%= ID.FOTO %>">
  <span class="user"><%= link_to foto.usuario.NICK, foto.usuario %></span>
  <span class="content"><%= foto.Titulo %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(foto.FECHA_SUBIDA) %> ago.
  </span>
</li>
