<% @usuarios.each do |usuario| %>
      <tr>
        <li><%= usuario.NOMBRE %>, <%= usuario.CORREO %>
        <%= link_to 'Eliminar', usuario, method: :delete, data: { confirm: 'Are you sure?' } %>


        </li>
        
      </tr>
    <% end %>