<div class="center jumbotron">
  <h1>Bienvenido a Photolog</h1>

  <h2>
    Esta es la pagina principal de Photolog
  </h2>

  <%= link_to "Registrate ahora!", registro_path, class: "btn btn-lg btn-primary" %> 
  <br><br>o si ya tienes una cuenta, <br><br>
  <%= link_to "Inicia sesion!", 'login', class: "btn btn-lg btn-primary" %>
</div>
