<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @gold.usuario %>
</p>

<p>
  <strong>Es gold:</strong>
  <%= @gold.es_gold %>
</p>

<p>
  <strong>Vencimiento:</strong>
  <%= @gold.vencimiento %>
</p>



