<div class="center jumbotron">


    <%if usuario_signed_in?%>
       <h1>Quieres ser gold? </h1>
       <h2>Para ser gold camera solo apreta este boton!. Nuestros agentes tomaran tus datos automaticamente</h2>


    <%= render 'gold' %>

    <%end%>
</div>